header {
    text-align: center;
    margin: 3rem 0px;
    border: 50px color blue;

    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

.gray {
            font-size: medium;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: orange;
        }


 #two {
    
        display: flex; 
        justify-content: right; 
        align-items: end; 
        height: 200vh; 
    
 }  
 
 
 img {
    width: 30%;
    border-radius: 1em;
    }


 .yellow{

       font-size: medium;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       color: yellow;

 }

 .green{

    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
 }

 
 .black {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
 }